<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832268093680-l9sqdb6hm801cn17afa52p0qma2pfkba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832268093680-l9sqdb6hm801cn17afa52p0qma2pfkba</string>
	<key>API_KEY</key>
	<string>AIzaSyA2Kn_hbz92fl_RVmIs0Rh6k4Yv-3CQ20w</string>
	<key>GCM_SENDER_ID</key>
	<string>832268093680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kce.messTag</string>
	<key>PROJECT_ID</key>
	<string>messtag-001</string>
	<key>STORAGE_BUCKET</key>
	<string>messtag-001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832268093680:ios:3f97b25a03f1312fa89a35</string>
</dict>
</plist>